.dropdown {
  @include pxRem(border-radius, map-get($border-radius, sm));
  border: 1px solid map-get($color, bg-light-secondary);
  background: map-get($color, "white");
  white-space: nowrap;
  width: auto;
  .dropdown-menu {
    @include pxRem(padding, 10 0);
  }
  .dropdown-item {
    @include pxRem(padding, 12 16);
    @include pxRem(font-size, map-get($font-size, normal));
    cursor: pointer;
    &:hover {
      background: rgba($color: map-get($color, bg-light-secondary), $alpha: 0.4);
    }
  }
}
