.radio {
  @include flex-centered();
  @include pxRem(width, 16);
  @include pxRem(height, 16);
  @include pxRem(margin-right, 12);
  border: 1px solid map-get($color, bg-light-secondary);
  background-color: map-get($color, bg-light-primary);
  border-radius: 50%;
  &::after {
    @include pxRem(width, 8);
    @include pxRem(height, 8);
    content: "";
    background-color: map-get($color, primary);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  &.selected {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}
