.resizable-box {
  background: white;
  width: 500px;
  height: 300px;
  position: relative;
  z-index: 10001;
  .resizer {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    z-index: 20;
    &.top-left {
      left: 0;
      top: 0;
      cursor: nwse-resize; /*resizer cursor*/
    }
    &.top-right {
      right: 0;
      top: 0;
      cursor: nesw-resize;
    }
    &.bottom-left {
      left: 0;
      bottom: 0;
      cursor: nesw-resize;
    }
    &.bottom-right {
      right: 0;
      bottom: 0;
      cursor: nwse-resize;
    }
  }
}
