.select-group {
  position: relative;
  display: flex;
  align-items: center;
  .select {
    @include pxRem(padding-right, 35);
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    cursor: pointer;
  }
  .arrow-icon {
    @include pxRem(right, 20);
    position: absolute;
  }
  .option-list {
    @include pxRem(border-radius, 5);
    @include pxRem(max-height, 500);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: map-get($color, "white");
    border: 1px solid map-get($color, bg-light-secondary);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    .option-item {
      @include pxRem(padding, 10 16);
      @include pxRem(font-size, map-get($font-size, sm));
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: map-get($color, bg-light-primary);
      }
      &.selected {
        color: map-get($color, primary);
        background-color: map-get($color, bg-light-primary);
      }
    }
  }
}
