.setting-appearance {
  .scope-title {
    @include pxRem(font-size, map-get($font-size, md));
  }
  .room-title {
    @include pxRem(font-size, map-get($font-size, normal));
    font-weight: 600;
  }
  .background-list {
    @include pxRem(margin-bottom, 16);
    display: flex;
    flex-wrap: wrap;
  }
  .background-item {
    @include pxRem(max-width, 252);
    @include pxRem(min-width, 250);
    @include pxRem(margin, 0 25 16 0);
    flex: 1 0 31%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &.selected {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      .box-title {
        background-color: map-get($color, bg-light-primary);
      }
      .radio {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .background-image {
    @include pxRem(height, 135);
    background-size: cover;
    background-position: center;
  }
  .box-title {
    @include pxRem(font-size, map-get($font-size, normal));
    @include pxRem(padding, 0 16);
    background-color: map-get($color, "white");
    border-bottom: none;
  }
}
